Repository rphibbert/oci-landing-zone-operating-entities, changes with the owners that CODEOWNERS names for each.
All owners: @hrvolapeter, @rphibbert, @paolajuarezgomez, @vavardan

CODEOWNERS:

/workload-extensions/ocvs/ @hrvolapeter
/workload-extensions/ebs/ @rphibbert
/workload-extensions/oke/ @paolajuarezgomez
/addons/oci-hub-models/ @vavardan
/addons/oci-sovereign-controls/ @vavardan @hrvolapeter @paolajuarezgomez

EBS compartment diagram
  workload-extensions/ebs/content/One-OE-LZP.png
Owners: @rphibbert

update
  .DS_Store
  workload-extensions/ebs/.DS_Store
  workload-extensions/ebs/1_ebs_extension/readme.md
  workload-extensions/ebs/content/ProdNetwork.png
Owners: @rphibbert

Updates
  .DS_Store
  workload-extensions/.DS_Store
  workload-extensions/ebs/.DS_Store
  workload-extensions/ebs/1_ebs_extension/.DS_Store
  workload-extensions/ebs/1_ebs_extension/1.1_Network_post_updates/readme.md
  workload-extensions/ebs/1_ebs_extension/oci_ebs_identity.auto.tfvars.json
  workload-extensions/ebs/1_ebs_extension/oci_ebs_network.auto.tfvars.json
  workload-extensions/ebs/1_ebs_extension/readme.md
  workload-extensions/ebs/readme.md
  workload-extensions/oke/.DS_Store
  workload-extensions/oke/1_oke_extension/.DS_Store
Owners: @rphibbert, @paolajuarezgomez

link fix
  workload-extensions/ebs/readme.md
Owners: @rphibbert

updated
  workload-extensions/ebs/1_ebs_extension/readme.md
Owners: @rphibbert

Updates
  workload-extensions/ebs/1_ebs_extension/readme.md
Owners: @rphibbert

Updates
  .DS_Store
  addons/.DS_Store
  addons/oci-hub-models/.DS_Store
  workload-extensions/ebs/.DS_Store
  workload-extensions/ebs/1_ebs_extension/.DS_Store
  workload-extensions/ebs/1_ebs_extension/1.1_Network_post_updates/readme.md
  workload-extensions/ebs/1_ebs_extension/readme.md
Owners: @vavardan, @rphibbert

achive cis
  addons/oci-hub-models/.DS_Store
  workload-extensions/.DS_Store
  workload-extensions/ebs/.DS_Store
  workload-extensions/ebs/_archive/.DS_Store
  workload-extensions/ebs/_archive/diagrams/Compartments.png
  workload-extensions/ebs/_archive/diagrams/EBS.png
  workload-extensions/ebs/_archive/diagrams/Groups.png
  workload-extensions/ebs/_archive/diagrams/Networkd.png
  workload-extensions/ebs/_archive/op01-deploy-CIS/Diagrams/Compartments.png
  workload-extensions/ebs/_archive/op01-deploy-CIS/Diagrams/Network.png
  workload-extensions/ebs/_archive/op01-deploy-CIS/Diagrams/groups.png
  workload-extensions/ebs/_archive/op01-deploy-CIS/EBS_CIS.pdf
  workload-extensions/ebs/_archive/op01-deploy-CIS/readme.md
  workload-extensions/ebs/_archive/op02-manage-ebs-lz-extension/diagrams/Compartments.png
  workload-extensions/ebs/_archive/op02-manage-ebs-lz-extension/diagrams/Groups.png
  workload-extensions/ebs/_archive/op02-manage-ebs-lz-extension/diagrams/Network.png
  workload-extensions/ebs/_archive/op02-manage-ebs-lz-extension/json/ebs_identity_cmp_grp_pl_v1.auto.tfvars.json
  workload-extensions/ebs/_archive/op02-manage-ebs-lz-extension/json/ebs_network_rt_sl_v1.auto.tfvars.json
  workload-extensions/ebs/_archive/op02-manage-ebs-lz-extension/readme.md
  workload-extensions/ebs/_archive/op02-manage-ebs-lz-extension/yml/ebs_identity_cmp_grp_pl_v1.yml
  workload-extensions/ebs/_archive/op02-manage-ebs-lz-extension/yml/ebs_network_rt_sl_v1.yml
  workload-extensions/ebs/_archive/op03-manual-changes/readme.md
  workload-extensions/ebs/_archive/readme.md
Owners: @vavardan, @rphibbert

archive cis
  workload-extensions/ebs/0_archive/.DS_Store
  workload-extensions/ebs/0_archive/diagrams/Compartments.png
  workload-extensions/ebs/0_archive/diagrams/EBS.png
  workload-extensions/ebs/0_archive/diagrams/Groups.png
  workload-extensions/ebs/0_archive/diagrams/Networkd.png
  workload-extensions/ebs/0_archive/op01-deploy-CIS/Diagrams/Compartments.png
  workload-extensions/ebs/0_archive/op01-deploy-CIS/Diagrams/Network.png
  workload-extensions/ebs/0_archive/op01-deploy-CIS/Diagrams/groups.png
  workload-extensions/ebs/0_archive/op01-deploy-CIS/EBS_CIS.pdf
  workload-extensions/ebs/0_archive/op01-deploy-CIS/readme.md
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/diagrams/Compartments.png
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/diagrams/Groups.png
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/diagrams/Network.png
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/json/ebs_identity_cmp_grp_pl_v1.auto.tfvars.json
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/json/ebs_network_rt_sl_v1.auto.tfvars.json
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/readme.md
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/yml/ebs_identity_cmp_grp_pl_v1.yml
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/yml/ebs_network_rt_sl_v1.yml
  workload-extensions/ebs/0_archive/op03-manual-changes/readme.md
  workload-extensions/ebs/0_archive/readme.md
Owners: @rphibbert

Updates
  .DS_Store
  workload-extensions/.DS_Store
  workload-extensions/ebs/.DS_Store
Owners: @rphibbert

Updates
  workload-extensions/ebs/1_ebs_extension/readme.md
Owners: @rphibbert

Update
  workload-extensions/.DS_Store
  workload-extensions/ebs/.DS_Store
  workload-extensions/ebs/1_ebs_extension/ORM_ONE-OE_deployment_steps.md
  workload-extensions/oke/.DS_Store
Owners: @rphibbert, @paolajuarezgomez

Updates
  workload-extensions/ebs/.DS_Store
  workload-extensions/ebs/content/Bucket.png
  workload-extensions/ebs/content/BucketFiles.png
  workload-extensions/ebs/content/ORMJobs.png
  workload-extensions/ebs/content/ORMUpdated.png
  workload-extensions/ebs/content/UploadBucket.png
  workload-extensions/ebs/content/UploadObjects.png
  workload-extensions/ebs/content/output.png
  workload-extensions/oke/.DS_Store
Owners: @rphibbert, @paolajuarezgomez

Updates
  workload-extensions/ebs/.DS_Store
  workload-extensions/ebs/1_ebs_extension/oci_ebs_lz_ext_iam.auto.tfvars.json
  workload-extensions/ebs/1_ebs_extension/oci_ebs_lz_ext_network.auto.tfvars.json
  workload-extensions/ebs/1_ebs_extension/oci_ebs_lz_ext_network_post.auto.tfvars.json
  workload-extensions/ebs/1_ebs_extension/oci_ebs_lz_ext_open_lz_post_hub_a_network_light.auto.tfvars.json
  workload-extensions/ebs/1_ebs_extension/oci_ebs_network.auto.tfvars.json
  workload-extensions/ebs/content/MagicButton.png
  workload-extensions/oke/.DS_Store
Owners: @rphibbert, @paolajuarezgomez

Update
  workload-extensions/ebs/1_ebs_extension/ORM_EBS-LZ-EXT_deployment_steps.md
  workload-extensions/oke/1_oke_extension/readme.md
Owners: @rphibbert, @paolajuarezgomez

Updates
  workload-extensions/ebs/content/ORMUpdatedEBS.png
Owners: @rphibbert

Update
  workload-extensions/ebs/content/ORMEBS.png
Owners: @rphibbert

Update
  workload-extensions/ebs/content/UploadBucketEBS.png
Owners: @rphibbert

Update
  workload-extensions/ebs/content/ORMJobsEBS.png
  workload-extensions/ebs/content/Screenshot 2025-03-17 at 14.15.13.png
Owners: @rphibbert

Update
  workload-extensions/ebs/content/ORMJobsEBS.png
  workload-extensions/ebs/content/Screenshot 2025-03-17 at 14.15.13.png
  workload-extensions/ebs/content/UploadBucketEBS.png
Owners: @rphibbert

Updates
  workload-extensions/ebs/content/Instances.png
  workload-extensions/ebs/content/Routing_EBS_ext.png
Owners: @rphibbert

Updates
  workload-extensions/ebs/content/Final_Routing.png
  workload-extensions/ebs/content/PostSTEP1.png
Owners: @rphibbert

Update
  workload-extensions/ebs/1_ebs_extension/.DS_Store
  workload-extensions/ebs/1_ebs_extension/1.1_Network_post_updates/readme.md
Owners: @rphibbert

Update
  workload-extensions/ebs/1_ebs_extension/1.1_Network_post_updates/readme.md
Owners: @rphibbert

Update
  workload-extensions/ebs/.DS_Store
  workload-extensions/ebs/0_archive/readme.md
Owners: @rphibbert

Update
  workload-extensions/ebs/0_archive/.DS_Store
  workload-extensions/ebs/0_archive/op01-deploy-CIS/readme.md
Owners: @rphibbert

Updates
  workload-extensions/ebs/0_archive/.DS_Store
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/readme.md
Owners: @rphibbert

Updates
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/readme.md
Owners: @rphibbert

Update
  workload-extensions/ebs/0_archive/readme.md
Owners: @rphibbert

Update
  workload-extensions/ebs/readme.md
Owners: @rphibbert

Updates
  workload-extensions/ebs/1_ebs_extension/readme.md
Owners: @rphibbert

Updates
  workload-extensions/ebs/1_ebs_extension/oci_ebs_lz_ext_network.auto.tfvars.json
Owners: @rphibbert

Updates
  .DS_Store
  workload-extensions/.DS_Store
  workload-extensions/ebs/.DS_Store
  workload-extensions/ebs/1_ebs_extension/oci_ebs_lz_ext_iam.auto.tfvars.json
  workload-extensions/ebs/2_ebscm/README.md
  workload-extensions/ebs/content/.DS_Store
  workload-extensions/ebs/readme.md
Owners: @rphibbert

Updates
  workload-extensions/ebs/1_ebs_extension/oci_ebs_lz_ext_iam.auto.tfvars.json
  workload-extensions/ebs/2_ebscm/README.md
  workload-extensions/ebs/readme.md
Owners: @rphibbert

Updates
  workload-extensions/.DS_Store
  workload-extensions/ebs/1_ebs_extension/oci_ebs_lz_ext_network.auto.tfvars.json
  workload-extensions/ebs/1_ebs_extension/oci_ebs_lz_ext_network_post.auto.tfvars.json
  workload-extensions/ebs/1_ebs_extension/oci_ebs_lz_ext_open_lz_post_hub_a_network_light.auto.tfvars.json
  workload-extensions/ebs/1_ebs_extension/readme.md
Owners: @rphibbert

Updates
  workload-extensions/ebs/1_ebs_extension/1.1_Network_post_updates/readme.md
  workload-extensions/ebs/content/Complete.png
  workload-extensions/ebs/content/Final_Routing.png
  workload-extensions/ebs/content/One-OE-LZP.png
  workload-extensions/ebs/content/PostSTEP1.png
  workload-extensions/ebs/content/ProdNetwork.png
  workload-extensions/ebs/content/Routing_EBS_ext.png
  workload-extensions/ebs/readme.md
Owners: @rphibbert

Update
  workload-extensions/ebs/2_ebscm/README.md
Owners: @rphibbert

Updates
  workload-extensions/ebs/0_archive/op01-deploy-CIS/readme.md
  workload-extensions/ebs/0_archive/op02-manage-ebs-lz-extension/readme.md
  workload-extensions/ebs/0_archive/op03-manual-changes/readme.md
  workload-extensions/ebs/readme.md
Owners: @rphibbert

Updates
  workload-extensions/ebs/.DS_Store
  workload-extensions/ebs/0_archive/.DS_Store
Owners: @rphibbert

Updates
  workload-extensions/ebs/1_ebs_extension/readme.md
  workload-extensions/ebs/2_ebscm/bastion_access.md
  workload-extensions/ebs/content/Network.png
  workload-extensions/ebs/content/ProdNetwork.png
  workload-extensions/ebs/content/Routing_ONE-OE_HubA.png
Owners: @rphibbert
